@import url("./base.css");

/*** General Selectors ***/
:root {
    --main-horizontal-margin: 10vw;
}

html {
    font-family: var(--primary-font);
    font-weight: 400;
    font-style: normal;
    font-size: calc(62.5% / 1.5);
}

body {
    min-width: 320px;
}

header {
    height: fit-content;
    width: 100%;
    position: sticky;
    padding: 1rem 3vw;
    padding-top: 3rem;
    top: 0;
    font-family: var(--secondary-font);
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
}

main {
    margin: 5rem var(--main-horizontal-margin);
    margin-bottom: 10rem;
    padding: 0;
    text-align: left;
}

section {
    margin: 10rem 0;
}

/*** Recyclables ***/

.block__display--mobile {
    display: block;
}

.flex__display--mobile {
    display: flex;
}

.block__display--mobile-tablet {
    display: block;
}

.flex__display--mobile-tablet {
    display: flex;
}

.block__display--tablet-desktop {
    display: none;
}

.flex__display--tablet-desktop {
    display: none;
}

.block__display--desktop {
    display: none;
}

.flex__display--desktop {
    display: none;
}

.gradient__text {
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    border: 1px solid transparent;  /* Workaround to alleviate the Google Chrome print bug */
}

.flex-row-wrap {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    flex-wrap: wrap;
}

.flex-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

/*** Font Sizes ***/

.heading__size--title {
    text-align: left;
    font-weight: 700;
    font-size: 5.8rem;
    line-height: 7.0rem;
    letter-spacing: -0.1rem;
}

.heading__size--default {
    font-weight: 700;
    font-size: 4.2rem;
    line-height: 5.2rem;
    letter-spacing: -0.04rem;
}

.heading__size--card-title {
    font-size: 2.8rem;
    line-height: 2.6rem;
    font-weight: 500;
}

.heading__margin--vertical {
    margin-top: 4.2rem;
    margin-bottom: 4.2rem;
}

.paragraph__size--footnote-span {
    font-weight: 300;
    font-size: 1.4rem;
    line-height: 2.6rem;
}

.paragraph__size--card-description {
    font-weight: 300;
    font-size: 1.8rem;
    line-height: 2.6rem;
}

.paragraph__size--grid-role {
    font-weight: 400;
    font-size: 2rem;
    line-height: 2.8rem;
    letter-spacing: 0.1rem;
}

.paragraph__size--footer-link {
    font-weight: 400;
    font-size: 1.6rem;
    line-height: 2.6rem;
}

.paragraph__size--default-small {
    font-weight: 400;
    font-size: 1.8rem;
    line-height: 2.6rem;
}

.paragraph__size--default {
    font-weight: 400;
    font-size: 2rem;
    line-height: 2.6rem;
}

.paragraph__size--contact-small {
    font-weight: 400;
    font-size: 3rem;
    line-height: 4rem;
    letter-spacing: -1px;
}

.paragraph__size--grid-span {
    font-weight: 500;
    font-size: 1.2rem;
    line-height: 2.8rem;
    letter-spacing: 0.1rem;
}

.paragraph__size--card-footnote {
    font-weight: 500;
    font-size: 1.6rem;
    line-height: 2.6rem;
}

.paragraph__size--default-bold {
    font-weight: 500;
    font-size: 2rem;
    line-height: 2.6rem;
}

.paragraph__size--grid-type {
    font-weight: 600;
    font-size: 0.9rem;
    line-height: 2.6rem;
}

.paragraph__size--contact-mobile-small-bold {
    font-weight: 700;
    font-size: 3rem;
    line-height: 6rem;
    letter-spacing: -1px;
}

.paragraph__size--contact-mobile {
    font-weight: 700;
    font-size: 3.5rem;
    line-height: 5rem;
    letter-spacing: -1px;
}

.paragraph__size--contact-desktop {
    font-weight: 700;
    font-size: 5.8rem;
    line-height: 7rem;
    letter-spacing: -1px;
}

.paragraph__size--logo {
    font-weight: 800;
    font-size: 2.3rem;
}

/*** Header ***/

.flex__nav {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    text-align: center;
}

.flex__logo {
    flex: 1 1 15%;
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    margin-right: auto;
    margin-left: 0.5rem;
}

.logo__font {
    font-family: var(--logo-font);
    font-optical-sizing: auto;
    font-style: normal;
    font-variation-settings: "wdth" 100;
}

#input__checkbox {
    display: none;
    /* hide the checkbox (which is only used for Hamburger menu toggle) */
}

.flex--menu {
    flex: 1 1 70%;
    display: flex;
    flex-wrap: wrap;
}

/* Hide the Nav Bar Menu when Hamburger checkbox is checked */
#input__checkbox:checked+.flex--menu {
    display: none;
}

.icon__size--menu {
    display: inline-block;
    width: 3rem;
    height: 3rem;
}

.label__size--hamburger {
    flex: 1 1 15%;
}

.menu__list {
    flex: 1 1 100%;
    display: flex;
}

.menu__list li {
    list-style: none;
}

.menu__list li a {
    display: inline-block;
    text-decoration: none;
    text-wrap: nowrap;
    color: inherit;
    vertical-align: middle;
}

.menu__list li a:hover {
    color: var(--menu-color-hover);
}

.menu__list--buttons {
    flex-wrap: wrap;
    margin-block-start: 4rem;
    margin-block-end: 2rem;
}

.menu__list--buttons li {
    flex: 1 1 100%;
    flex-wrap: wrap;
}

.menu__list--buttons li a {
    padding: 0.25em 0.5em;
}

.menu__list--icons {
    justify-content: space-around;
    align-items: center;
    flex-wrap: nowrap;
}

.menu__list--icons li {
    flex: 1;
    /* => flex: 1 1 33.33%; */
}

.menu__list--icons img {
    width: 3rem;
    height: auto;
    vertical-align: middle;
    filter: brightness(0%);
    /* => color #000000*/
}

.icon__display--hamburger {
    display: block;
}

.icon__size--hamburger {
    width: 5rem;
    height: auto;
}

.icon__position--hamburger {
    justify-self: center;
    align-self: start;
    margin-left: auto;
}

.label__cursor--hamburger {
    cursor: pointer;
}

/*** Introduction (Home) Section ***/

.flex-row-wrap__gap--introduction {
    justify-content: space-between;
    gap: 3rem;
}

.flex-container__size--medium {
    width: 36.7rem;
    min-width: 36.7rem;
    height: 36.7rem;
    min-height: 36.7rem;
}

.flex-container__border-radius--circle {
    border-radius: 50%;
}

.image--profile {
    border-radius: 50%;
    width: 34.9rem;
    aspect-ratio: 1/1;
    object-fit: cover;
}

/*** About, Work Experience & Education Section ***/

.grid {
    width: 100%;
    display: grid;
    align-items: start;
    grid-template-columns: 6fr 4fr;
    grid-template-rows: auto;
    grid-template-areas: "role type"
        "provider date"
        "location .";
    row-gap: 0;
    padding-bottom: 1.8rem;
    margin: 2rem 0;
}

.grid__item--role {
    grid-area: role;
    justify-self: left;
}

.grid__item--type {
    grid-area: type;
    width: 8.4rem;
    height: 2.4rem;
    border-radius: 10rem;
    text-align: center;
    justify-self: right;
}

.grid__item--provider {
    grid-area: provider;
    justify-self: left;
}

.grid__item--date {
    grid-area: date;
    justify-self: right;
    white-space: nowrap;
}

.grid__item--location {
    grid-area: location;
    justify-self: left;
}

.grid span img {
    width: 1.6rem;
    height: 1.2rem;
    vertical-align: middle;
    margin-right: 0.5rem;
}

/*** Tech Stack Section ***/

.flex-row-wrap__gap--tech-stack {
    column-gap: 10rem;
    row-gap: 6rem;
}

.flex-row-wrap__margin--tech-stack {
    margin: 10rem 0;
}

.image__size--tech-stack {
    width: 11rem;
    height: auto;
}

/*** Projects Section ***/

.flex-row-wrap__gap--project-card {
    column-gap: 5rem;
    row-gap: 6.5rem;
}

.flex-row-wrap__margin--project-card {
    margin: 10rem 0;
}

.card {
    width: 100%;
    height: auto;
    min-width: 50vw;
    border-radius: 20px;
    transition: all 0.1s ease-in;
    font-size: 1.6rem;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: stretch;
    overflow: hidden;
}

.card:hover {
    border: 3px solid var(--border-color-card);
}

.card>* {
    padding: 0 2.5rem;
    padding-bottom: 1rem;
}

.card__figure {
    padding: 0;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}

.card__image {
    padding: 0;
    flex: 53;
    display: block;
    width: 100%;
    height: auto;
    object-fit: cover;
    overflow: hidden;
}

.card__title {
    flex: fit-content;
    padding: 2.5rem;
    padding-bottom: 2rem;
    text-align: left;
    text-wrap: nowrap;
}

.card__description {
    flex: 10;
}

.card__footnote {
    flex: 5;
    height: 10%;
}

.card__footer {
    flex: 12;
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    padding-bottom: 2rem;
}

.footer__img--card {
    width: 2rem;
    height: auto;
    vertical-align: middle;
    margin-right: 1rem;
}

/*** Contact Section ***/

.container--contact {
    width: 100%;
    height: 50%;
    padding-top: 10rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 0;
    text-align: center;
    font-family: var(--secondary-font);
    font-optical-sizing: auto;
    font-style: normal;
}

.contact-questions__margin {
    margin-bottom: 1.5rem;
}

/*** Footer ***/

.footer {
    width: 100vw;
    position: fixed;
    bottom: 0;
    left: 0;
    text-align: center;
    padding: 0.5rem 0;
}

/*** Media Queries ***/

/* On screens that are 601px to 1024px (Tablets & Medium Desktops) */
@media (min-width: 601px) {

    html {
        font-size: calc(62.5% / 1.25);
    }

    /*** Header ***/

    header {
        padding: 1rem 6vw;
        padding-top: 3rem;
    }

    .label__size--hamburger {
        flex: 1 1 0%;
    }

    /* Show the Nav Bar Menu (even when hidden by Hamburger checkbox) */
    #input__checkbox:checked+.flex--menu, .flex--menu {
        flex: 1 1 85%;
        display: flex;
    }

    .menu__list--buttons {
        margin-block-start: 0;
    }

    .menu__list--buttons li {
        flex: 1 1 33.33%;
    }

    .menu__list--buttons li a {
        padding: 0.5em 1em;
    }

    .menu__list--icons {
        flex: 1;
    }

    .icon__display--hamburger {
        display: none;
    }

    /*** About, Work Experience & Education Section ***/

    .section--about {
        max-width: 710px;
    }

    .grid--experience {
        width: 100%;
        display: grid;
        grid-template-columns: 6fr 3fr 4fr;
        grid-template-rows: auto;
        grid-template-areas: "role role type"
            "provider location date";
    }

    .grid--experience :nth-child(1) {
        order: 1;
    }

    .grid--experience :nth-child(2) {
        order: 2;
    }

    .grid--experience :nth-child(3) {
        order: 3;
    }

    .grid--experience :nth-child(4) {
        order: 5;
    }

    .grid--experience :nth-child(5) {
        order: 4;
    }

    .grid--education {
        width: 100%;
        display: grid;
        grid-template-columns: 7fr 3fr;
        grid-template-rows: auto;
        grid-template-areas: 'role type'
            'provider date';
    }

    /*** Projects Section ***/

    .card {
        width: 37.3rem;
        height: 56.7rem;
        min-width: 37.3rem;
        min-height: 56.7rem;
    }

    .card__title {
        text-align: center;
    }

    .card__description {
        flex: 23;
    }

    .paragraph__size--card-footnote {
        font-weight: 400;
    }

    /*** General Selectors ***/

    .block__display--mobile {
        display: none;
    }

    .flex__display--mobile {
        display: none;
    }

    .block__display--tablet-desktop {
        display: block;
    }

    .flex__display--tablet-desktop {
        display: flex;
    }
}

/* On screens that are 1024px or more (Large Desktops) */
@media (min-width: 1024px) {

    /*** Header ***/

    header {
        padding: 1rem var(--main-horizontal-margin);
        padding-top: 3rem;
    }

    .flex__nav {
        align-items: center;
    }

    .flex--menu {
        flex-wrap: nowrap;
    }

    .label__size--hamburger {
        flex: 1 1 0%;
    }

    .menu__list--buttons {
        flex: 1 1 auto;
        justify-content: flex-end;
        align-items: center;
        column-gap: 2.0rem;
        flex-wrap: nowrap;
        margin-block-end: 0;
        margin-right: 2rem;
    }

    .menu__list--icons {
        flex: 0 0 15rem;
        display: flex;
        flex-direction: row-reverse;
    }

    .menu__list--buttons li {
        flex: unset;
        display: flex;
        justify-content: space-around;
    }

    .menu__list--buttons li:first-child {
        margin-left: auto;
    }

    .menu__list--buttons li a {
        padding: 0.25em 0.5em;
    }

    .menu__list--icons li {
        flex: 1;
    }

    .menu__list--icons img {
        filter: none;
        /* => #666666*/
    }

    .heading__size--contact {
        font-size: 5.8rem;
        line-height: 7rem;
        letter-spacing: -1px;
    }

    .block__display--mobile-tablet {
        display: none;
    }

    .flex__display--mobile-tablet {
        display: none;
    }

    .block__display--desktop {
        display: block;
    }
    
    .flex__display--desktop {
        display: flex;
    }
}

/* On screens that are larger than 1350px (Large Desktops) */
@media (min-width: 1350px) {
    html {
        font-size: 62.5%;
    }
}

/* Light Theme */
@media (prefers-color-scheme: light) {
    html {
        background: var(--background-light-mode);
        color: var(--solid-heading-light-mode);
    }

    h2 {
        color: var(--solid-heading-light-mode);
    }

    p {
        color: var(--dark-content-light-mode);
    }

    header,
    .flex__nav {
        background-color: var(--background-light-mode);
        color: var(--black-content-light-mode);
    }

    .menu__list li a {
        color: var(--black-content-light-mode);
    }

    .grid {
        border-bottom: 0.2rem solid var(--border-color-light-mode);
    }

    .grid * {
        color: var(--light-content-dark-mode);
    }

    .grid__item--role {
        color: var(--dark-content-light-mode);
    }

    .grid__item--type {
        color: var(--button-text);
        background-color: var(--button-success);
    }

    .card {
        background-color: var(--background-light-mode);
        box-shadow: var(--box-shadow-light-mode);
    }

    .card:hover {
        box-shadow: var(--box-shadow-hover-light-mode);
    }

    .card * {
        color: var(--black-content-light-mode);
    }

    .card__description,
    .card__footnote {
        color: var(--dark-content-light-mode);
    }

    .card__footnote>span {
        color: var(--dark-content-light-mode);
    }

    .block__display--mobile-tablet.contact-questions {
        color: var(--black-content-light-mode);
    }

    .block__display--desktop.contact-questions {
        color: var(--contact-light-mode);
    }

    .footer {
        background: var(--background-light-mode);
        color: var(--dark-content-light-mode);
    }
}

/* On screens that are less than 1024px (Mobile & Tablets), we override Light Theme above to match Mobile Mode color */
@media (max-width: 1023px) {
    .card__footnote {
        color: var(--black-content-light-mode);
    }
}

/* On screens that are larger than 1024px (Desktops), we override Light Theme above to match Desktop Mode color */
@media (min-width: 1024px) {
    .menu__list li a {
        color: var(--dark-content-light-mode);
    }
}

/* Dark Theme */
@media (prefers-color-scheme: dark) {
    html {
        background-color: var(--background-dark-mode);
        color: var(--solid-heading-dark-mode);
    }

    h2 {
        color: var(--solid-heading-dark-mode);
    }

    p {
        color: var(--light-content-dark-mode);
    }

    header,
    .flex__nav {
        background-color: var(--background-dark-mode);
        color: var(--light-content-dark-mode);
    }

    .menu__list li a {
        color: var(--light-content-dark-mode);
    }

    .flex--menu .menu__list--icons img {
        filter: invert(100%) brightness(109%);
        /* => #A7A7A7*/
    }

    .image__color--invert img {
        filter: invert(100%);
    }

    .heading--title {
        color: var(--very-light-content-dark-mode);
    }

    .grid {
        border-bottom: 0.2rem solid var(--border-color-dark-mode);
    }

    .grid * {
        color: var(--light-content-dark-mode);
    }

    .grid__item--role {
        color: var(--solid-heading-dark-mode);
    }

    .grid__item--type {
        color: var(--button-text);
        background-color: var(--button-success);
    }

    .card {
        background-color: var(--background-card-dark-mode);
        box-shadow: var(--box-shadow-dark-mode);
    }

    .card:hover {
        box-shadow: var(--box-shadow-hover-dark-mode);
    }

    .card * {
        color: var(--solid-heading-dark-mode);
    }

    .card__footer * {
        color: var(--black-content-dark-mode);
    }

    .contact-questions {
        color: var(--contact-dark-mode);
    }

    .footer {
        background: var(--background-dark-mode);
        color: var(--light-content-dark-mode);
    }
}